.app {
  text-align: center;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.card-container {
  display: flex;
  justify-content: center; /* centers the row */
  gap: 20px;              /* space between cards */
  margin-top: 20px;
}

.card {
  width: 250px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  background-color: #fff;
}

.card-img {
  width: 100%;
  border-radius: 8px;
}

.rating.green {
  color: green;
  font-weight: bold;
}

.rating.red {
  color: red;
  font-weight: bold;
}

.app h1 {
  color: gray;
  margin-bottom: 20px;
}

.divider {
  border: none;
  height: 4px;
  background-color: #ccc; /* light gray line */
  margin: 15px 0 25px;   /* spacing above & below */
}
